{% extends "base.html" %}
<link href="https://fonts.googleapis.com/css?family=Uncial Antiqua" rel="stylesheet" type="text/css">
{% load static %}

{% block page_content %}
<style>
    .button {
        background-color: #004aad;
        align-items: center;
        background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        width: auto;
        display: inline-flex;
        padding: 10px 15px;
        transition: all 250ms;
        border-radius: .25rem;
    }
  .blue-text {
    color: #004aad;
    font-family: "Uncial Antiqua";
    font-size: 42px;
    text-align: center;
  }
  p {
    font-size: 18px;
    font-family: Perpetua
  }
  h5 {
      font-family: Perpetua;
  }
  .cropped {
      height: 455px;
      object-fit: cover;
  }
</style>
<body style = "background-color:#f1edde">
<h1><br></h1>
<h1 class="blue-text">Welcome to the Library!</h1>
<h1><br></h1>
<div class="row">

{% for project in projects %}

    <div class="col-md-4">

        <div class="card mb-4">

            <img class="cropped" src="{% static project.image %}">

            <div class="card-body">

                <h5 class="card-title"><b>{{ project.title }}</b></h5>

                <p class="card-text">{{ project.author }}</p>

                <a href={{ project.link }}

                   class="button">

                    Read

                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}